<form action="<%= track_notes_url(params[:id]) %>" method="post">
	<%= auth_token %> 
	<input type="hidden" name="note[track_id]" value="<%= params[:id] %>">
	<label for="text">Notes 
		<textarea name="note[text]" id="text"></textarea>
	</label>
	<br>
	<input type="submit" value="Make Note">
</form>