<form>
	<%= auth_token %>
	<input type="hidden" name="_method" value="patch">
	<label for:"band_name">Band Name 
		<input type="text"
					 id="band_name"
					 name="band[name]">
	</label>
	<input type="submit" value="Create Band">
</form>